body {
    margin: 0 10% ;
}

.button-container {
    display         : flex;
    justify-content : flex-start;
    margin-bottom   : 40px;
    background-color: black;
}

button {
    font-size    : 16px;
    font-weight  : 500;
    margin       : 0 20px;
    width        : 10%;
    height       : 30px;
    border       : none;
    border-radius: 20px;

}

button:hover {
    cursor          : pointer;
    background-color: rgb(170, 253, 87);
    color           : white;
    font-weight     : 700;
}

.container {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.basic {
    display: flex;
}

.border {
    border: 1px solid black;
    margin: 0px 10px 60px 10px;
    width : 200px;
}

img {
    width : 200px;
    height: 200px;
}

img:hover {
    cursor          : pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

h4 {
    font-size  : 20px;
    font-weight: 600;
    text-align : center;

}

h3 {
    font-size     : 18px;
    font-weight   : 800;
    text-align    : center;
    text-transform: uppercase;
}

p {
    text-transform: capitalize;
    text-align    : center;
    border        : 1px solid black;
    font-size     : 17px;
    font-weight   : 600;
    box-shadow    : inset 0 0 5px;
}


@media (max-width: 600px) {
    .button-container {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }

    button {
        width : 50%;
        margin: 10px 0 10px;

    }

    .container {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        margin-left          : auto;
        margin-right         : 30px;
    }

    .border {
        width       : 90%;
    }

    img {
        width: 100%;
    }
}